
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about">
    <div class="content">
        <h3 style="color: #eee; font-size: 2rem; padding-bottom: 5%; margin-top: 20%;"> / about</h3>
        <p>
            ................................................................................................................................
            ................................................................................................................................
        </p><br><br><br><br>
        <p>
            Welcome to my page! I'm <span class="magic">
    <span class="magic-star">
        <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
    </span>
    <span class="magic-star">
        <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
    </span>
    <span class="magic-star">
        <svg viewBox="0 0 512 512">
            <path d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z" />
        </svg>
    </span>
    <span class="magic-text">Suay Akbudak.</span>
</span> <br><br>I graduated from <a href="https://bau.edu.tr" target="_blank" style="text-decoration: none; font-size: large; color: var(--violet-color);">Bahçeşehir University</a>, department of
            <b style="text-decoration: none; font-size: large; color: var(--violet-color);">Software Engineering</b> in 2021. Here, I was a member of various school clubs and this way, I gained experience
            by getting certifications. I also took cloud programming and networking courses.
        </p>
        <p style="margin-top: 30px;">
            Outside of work, I'm interested in following the articles
            and videos about science. I also play games
            like PC and Console types.
        </p><br><br><br><br>
        <p>
            ................................................................................................................................
            ................................................................................................................................
        </p>
        <br><br><br><br><br><br>
        <p style="text-decoration: underline;font-size: large; color: whitesmoke;">Worked with:</p><br><br><br>
        <a href="">
            <img height="50" src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/181_Java-64.png" />
            <a href="">
                <img height="50" src="https://cdn0.iconfinder.com/data/icons/programming-1-1/32/Programming_C-4-64.png" />
                <a href="">
                    <img height="50" src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/14-256.png" />
                    <a href="">
                        <img height="50" src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-256.png" />
                        <a href="">
                            <img height="50" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-64.png" />
                            <a href="">
                                <img height="50" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-64.png" />
                                <a href="">
                                    <img height="50" src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-64.png" />
                                    <a href="">
                                        <img height="50" src="https://cdn0.iconfinder.com/data/icons/business-and-finance-440/1080/03_Azure-64.png" />
                                        <a href="">
                                            <img height="50" src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/VirtualBox.png" />
                                            <a href="">
                                                <img height="50" src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/cisco-64.png" />
                                                <a href="">
                                                    <img height="50" src="https://cdn1.iconfinder.com/data/icons/designer-skills/128/jira-64.png" />
                                                    <a href="">
                                                        <img height="50" src="https://cdn0.iconfinder.com/data/icons/font-awesome-brands-vol-1/576/bootstrap-256.png" />
                                                        <a href="">
                                                            <img height="50" src="https://cdn4.iconfinder.com/data/icons/web-basics-vol-05/512/data_database_mysql_server_sql_storage-256.png" />
                                                            <a href=""><img height="50" src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_confluence-64.png" />
    </div>
    <br><br><br><br>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

